In [26]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB
from sklearn.metrics import accuracy_score

In [27]:
df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [28]:
x = np.array(df.iloc[:, :-1])
x = x/np.linalg.norm(x)
y = np.array(df.iloc[:,-1:])
y = y.reshape(-1)
print(x.shape, y.shape)

(1599, 11) (1599,)

In [29]:
splits = [0.6, 0.7, 0.8, 0.9]
for split in splits: 
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = split)
    model = CategoricalNB()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print('For Test split:', split, 'Acuraccy Score:', accuracy_score(y_test, y_pred))

For Test split: 0.6 Acuraccy Score: 0.43125
For Test split: 0.7 Acuraccy Score: 0.42857142857142855
For Test split: 0.8 Acuraccy Score: 0.39296875
For Test split: 0.9 Acuraccy Score: 0.4152777777777778

In [30]:
df = pd.read_csv('glass.csv')
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [31]:
x = np.array(df.iloc[:, :-1])
x = x/np.linalg.norm(x)
y = np.array(df.iloc[:,-1:])
y = y.reshape(-1)
print(x.shape, y.shape)

(214, 9) (214,)

In [32]:
splits = [0.6, 0.7, 0.8, 0.9]
for split in splits: 
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = split)
    model = CategoricalNB()
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print('For Test split:', split, 'Acuraccy Score:', accuracy_score(y_test, y_pred))

For Test split: 0.6 Acuraccy Score: 0.3333333333333333
For Test split: 0.7 Acuraccy Score: 0.29333333333333333
For Test split: 0.8 Acuraccy Score: 0.3488372093023256
For Test split: 0.9 Acuraccy Score: 0.3160621761658031