In [2]:
import pandas as pd

df = pd.DataFrame({'model':['Valiant','Duster 360','Merc 240D','Merc 230','Merc 280','Merc 280C','Flat 128','Flat X1-9'],'mpg':[18.1,14.3,24.4,22.8,19.2,17.8,32.4,27.3],'cyl':[6,8,4,4,6,6,4,4],'disp':[225,360,146.7,140.8,167.6,167.6,78.7,79],'hp':[105,245,62,95,123,123,66,66],'drat':[2.76,3.21,3.69,3.92,3.92,3.92,4.08,4.08],'wt':[3.46,3.57,3.19,3.15,3.44,3.44,2.2,1.935],'qsec':[20.22,15.84,20,22.9,18.3,18.9,19.47,18.9],'gear':[3,3,3,4,4,4,4,4]})
df

        model   mpg  cyl   disp   hp  drat     wt   qsec  gear
0     Valiant  18.1    6  225.0  105  2.76  3.460  20.22     3
1  Duster 360  14.3    8  360.0  245  3.21  3.570  15.84     3
2   Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00     3
3    Merc 230  22.8    4  140.8   95  3.92  3.150  22.90     4
4    Merc 280  19.2    6  167.6  123  3.92  3.440  18.30     4
5   Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90     4
6    Flat 128  32.4    4   78.7   66  4.08  2.200  19.47     4
7   Flat X1-9  27.3    4   79.0   66  4.08  1.935  18.90     4

In [3]:
df.shape

(8, 9)

In [24]:
pd.write_csv(df,'evaluation1.csv',index=False)

AttributeError: module 'pandas' has no attribute 'write_csv'

In [7]:
import numpy as np
df.loc[np.logical_and(df['hp']>=90,df['hp']<=125)]

       model   mpg  cyl   disp   hp  drat    wt   qsec  gear
0    Valiant  18.1    6  225.0  105  2.76  3.46  20.22     3
3   Merc 230  22.8    4  140.8   95  3.92  3.15  22.90     4
4   Merc 280  19.2    6  167.6  123  3.92  3.44  18.30     4
5  Merc 280C  17.8    6  167.6  123  3.92  3.44  18.90     4

In [9]:
print("Max="+str(df.loc[df['gear']==4]['mpg'].max()))
print("Min="+str(df.loc[df['gear']==4]['mpg'].min()))

Max=32.4
Min=17.8

In [12]:
df.columns[2:4]

Index(['cyl', 'disp'], dtype='object')

In [15]:
df['disp'][2:4]

2    146.7
3    140.8
Name: disp, dtype: float64

In [18]:
df['disp'].iloc[2:4]

2    146.7
3    140.8
Name: disp, dtype: float64